<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/main.css">
   <title>💼 This Office</title>
</head>
<body>
   <h1 class="text-3xl font-semibold">This Office (not that one)</h1>
   <h2 class="text-xl">A digital office, with helpful workspace tools</h2>
   <p>Just notes and calendar for now, and the calendar is not even started.</p>
   <p><a href="/notes" class="underline text-blue-700">notes</a></p>
   <p>I hope you didn't come here expecting something good, because this is really just for me. I mean, you can use it if you like, but you'll have to bring your own database and self-host.</p>
   <br>
   <p>Uses cookies to save user session.</p>
</body>
</html>