<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="styles/main.css">
   <title>💼 This Office</title>
</head>
<body class="max-w-[700px]">
   <h1 class="text-3xl font-semibold">This Office (not that one)</h1>
   <h2 class="text-xl">A digital office, with helpful workspace tools</h2>
   <p>Just notes and calendar for now, and the calendar is not even started.</p>
   <p><a href="/notes" class="underline text-blue-700">notes</a></p>
   <p>The security on this app is terrible, and your notes will probably get deleted at some point. The notes are stored in plaintext, so I can see them, and I occasionally leak the database password, so everyone could pontentially see them.</p>
</body>
</html>