<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Icons -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <!-- Scripts -->
   <script src="https://editorrust.github.io/digit/main.js"></script>
   <!-- Styles -->
   <link rel="stylesheet" href="Styles/main.css">
   <link rel="stylesheet" href="Styles/styles.css">
   <link rel="stylesheet" href="Styles/modal.css">
   <link rel="stylesheet" href="Styles/markdown.css">

   <!-- JQuery :( -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#fecdd3">
   <title>🗒️ Notetaker</title>
</head>
<body>
   <div class="display">
      <div class="note-sidebar">
         <div class="menu">
            <div class="menu-buttons">
               <button onclick="newNote()" class="rounded-tr-2xl rounded-tl-full rounded-bl-full" title="new note"><span class="material-symbols-rounded">note_stack_add</span></button>
               <button onclick="toggleNotebookSwitcher()" title="change active notebook"><span class="material-symbols-rounded">folder_managed</span></button>
               <button onclick="openModal('newnotebook')" title="new notebook"><span class="material-symbols-rounded">create_new_folder</span></button>
               <button onclick="openModal('settings')" title="settings"><span class="material-symbols-rounded">settings</span></button>
               <button onclick="openModal('info')" class="rounded-tl-sm rounded-tr-full rounded-br-full" title="program info"><span class="material-symbols-rounded">info</span></button>
            </div>
            <div class="notebook-switcher hidden m-2 -mb-4 p-2 rounded-md bg-greyplus-darkwhite dark:bg-greyplus-tar">
               <h2 class="font-semibold ml-1">Notebooks</h2>
               <div class="notebook-list"></div>
            </div>
            <div class="searchbar-parent px-2">
               <input class="searchbar my-2 px-3 py-1.5 text-xl block w-full rounded-lg bg-greyplus-darkwhite dark:bg-greyplus-tar focus:outline-none" type="text" placeholder="search in notebook" onkeyup="search(event)">
            </div>
         </div>
         <div class="search-menu"></div>
         <div class="note-list"></div>
      </div>
      <div class="active-note">
         <div class="active-note-header">
            <div contenteditable="true" class="note-name"></div>
            <span class="material-symbols-rounded copynoteid" title="Copy note id" onclick="copyNoteId()">integration_instructions</span>
            <span class="material-symbols-rounded toggle-wordcount" title="Toggle word count" onclick="toggleWordCount()">tag</span>
            <span class="material-symbols-rounded delete-note" title="Delete note">delete</span>
         </div>
         <div class="active-note-content">
            <span class="note-id hidden"></span>
            <br>
            <div contenteditable="true" class="note-content"></div>
            <div class="my-2 py-2 px-4 rounded-md bg-gray-50 dark:bg-gray-700">
               <p class="note-last-edit"></p>
               <p class="wordcount"></p>
            </div>
            <hr>
            <br>
            <div class="rendered-markdown markdown"></div>
         </div>
      </div>
   </div>

   <div class="modal modal-newnotebook">
      <div class="modal-inner newnotebook">
         <p class="close-modal" onclick="closeModal('newnotebook')">x</p>
         <h1>New notebook</h1>
         <hr>
         <div class="modal-content">
            <form class="new-notebook">
               <input class="notebooknameinput" type="text" name="name" placeholder="notebook name"><br>
               <button onclick="newNotebook()">create notebook</button>
            </form>
         </div>
      </div>
   </div>

   <div class="modal modal-info">
      <div class="modal-inner info">
         <p class="close-modal" onclick="closeModal('info')">x</p>
         <h1>About Notes</h1>
         <hr>
         <div class="modal-content">
            <h2>Notes</h2>
            <p>A simple markdown notes program</p>
            <p>The security for this app is terrible. The notes are stored in plaintext, so I can see them, and I occasionally leak the database password, so pontentially everyone could see them.</p>
            <br>
            <h2>Citations</h2>
            <p>Unordered list markdown code from https://chubakbidpaa.com/interesting/2021/09/28/regex-for-md.html - Thank you!</p>
            <p>Some help from Google's Bard</p>
            <p>Some help from GitHub CoPilot</p>
            <p>A bit of help from OpenAI's ChatGPT</p>
            <br>
            <h2>Version</h2>
            <p></p>
            <p>v0.5.0 -> Save settings (font, autocomplete, active notebook) locally, auto newline/brackets, removed home page <i>- Aug 27 2023</i></p>
            <p>v0.4.2 -> reduced data sent recived from server for notebooks <i>- Aug 26 2023</i></p>
            <p>v0.4.1 -> stored secrects in env file <i>- Aug 22 2023</i></p>
            <p>v0.4.0 -> image links, links to other notes <i>- Aug 13 2023</i></p>
            <p>v0.3.0 -> notebooks, accounts, remote save <i>- Aug 12 2023</i></p>
            <p>v0.2.1 -> linked forgotten stylsheets <i>- Aug 2 2023</i></p>
            <p>v0.2.0 -> more markdown, dark theme <i>- Aug 2 2023</i></p>
            <p>v0.1.0 -> basic markdown, local save, create, edit, delete notes <i>- July 31 2023</i></p>
            <br>
            <i>Made by Hamza Nasher-Alneam</i>
            <p>Last edit August 26 2023</p>
         </div>
      </div>
   </div>

   <div class="modal modal-settings">
      <div class="modal-inner settings">
         <p class="close-modal" onclick="closeModal('settings')">x</p>
         <h1>Settings</h1>
         <hr>
         <div class="modal-content">
            <!-- <h2>Clear save</h2>
            <p>Erase your save.</p>
            <input class="exportdata" value="" type="text" style="display: none">
            <button onclick="clearSave()">Clear save</button>
            <br><br>
            <h2>Export save</h2>
            <p>Exports save in JSON format.</p>
            <input class="exportdata" value="" type="text" style="display: none">
            <button onclick="exportSave()">Export save</button>
            <br><br>
            <h2>Import save</h2>
            <p>Imports a save.</p>
            <button onclick="importSave()">Import save</button>
            <br><br> -->
            <h2>Auto completion</h2>
            <div class="my-2">
               <input onclick="autobracketToggled('parentheses')" checked type="checkbox" class="toggle float-right" id="autocomplete-parentheses" name="parentheses">
               <label for="parentheses">Parentheses ()</label><br>
            </div>
            <div class="my-2">
               <input onclick="autobracketToggled('brackets')" checked type="checkbox" class="toggle float-right" id="autocomplete-brackets" name="brackets">
               <label for="brackets">Brackets []</label><br>
            </div>
            <div class="my-2">
               <input onclick="autobracketToggled('braces')" checked type="checkbox" class="toggle float-right" id="autocomplete-braces" name="braces">
               <label for="braces">Braces {}</label><br>
            </div>
            <br>
            <h2>Change font</h2>
            <p>Change the global font</p>
            <button onclick="changeFont('serif')">Serif</button>
            <button onclick="changeFont('sans-serif')">Sans Serif</button>
            <button onclick="changeFont('cursive')">Cursive</button>
            <button onclick="changeFont('monospace')">Monospace</button>
            <button onclick="changeFont(`'EB Garamond', serif`)">EB Garamond</button>
            <button onclick="changeFont(`'Merriweather', serif`)">Merriweather</button>
            <!-- <button onclick="changeFont(`'Merriweather Sans', sans-serif`);">Merriweather Sans</button> -->
         </div>
      </div>
   </div>
</body>
<script src="scripts/main.js"></script>
<script src="scripts/markdown.js"></script>
<script src="scripts/autocomplete.js"></script>
<script src="scripts/search.js"></script>
</html>