/* Markdown styling for the notes */

.markdown h1 { font-size: 1.6em; }
.markdown h2 { font-size: 1.5em; }
.markdown h3 { font-size: 1.4em; }
.markdown h4 { font-size: 1.3em; }
.markdown h5 { font-size: 1.2em; }
.markdown h6 { font-size: 1.1em; }

.markdown ul, .markdown ol {
   margin: .2em 0;
   padding-left: 1em;
}

.markdown code {
   display: block;
   padding: .4em .6em;
   background-color: var(--darkest-background);
   /* background-color: #222;
   color: #fcb557; */
   border-radius: .3em;
}

.markdown code * {
   font-family: monospace;
}

.markdown code.inline-code {
   display: inline-block;
   padding: .1em .4em;
   background-color: var(--darkest-background);
   border-radius: .3em;
   font-size: 90%;
}

.markdown blockquote {
   display: block;
   padding: .4em .6em;
   background-color: var(--darkest-background);
   border-left: solid .3em var(--menu-color);
   border-radius: .3em;
}

.markdown hr {
   margin: 1em 0;
   height: .1em;
   background-color: #aaa;
}

/* Checklist */

.markdown .todo-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.markdown  .todo-item span {
   flex-grow: 1;
   margin: 2px 10px;
   font-size: 22px;
}

.markdown .done span {
   text-decoration: line-through;
}

.markdown input[type="checkbox"] {
   display: none;
}

.markdown .tick {
   width: 15px;
   height: 15px;
   border: 2px solid #222;
   border-radius: 5px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.markdown .tick::before {
   content: "✔️";
   font-size: 10px;
   opacity: 0;
}

.markdown .done .tick::before {
   opacity: 1;
}